@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div id="felt"></div>
    <div id="score"></div>
    <button id="btnDeal" type="button">DEAL</button>
    <div id="deck">
        <div class="card">
            <div class="card-container">
                <div class="card-cover">
                    <svg>
                        <use href="#bss" />
                    </svg>
                </div>
                <div class="card-face"></div>
            </div>
        </div>
    </div>
</section>
