<div style="height:0px;width:0px;visibility:hidden;">
    <svg>
        <symbol id="bss" viewBox="0 0 72 72">
            <path d="M66.9,57.2L66.9,57.2c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.7-1.7,3.7-3.8
                C70.6,58.9,69,57.2,66.9,57.2 M66.9,64.2c-1.7,0-3-1.4-3-3.2c0-1.8,1.4-3.2,3-3.2h0c1.7,0,3,1.4,3,3.2C70,62.8,68.6,64.2,66.9,64.2
			    M67.6,61.1L67.6,61.1c0.5-0.2,0.8-0.5,0.8-1.1c0-0.4-0.1-0.7-0.4-0.9c-0.3-0.2-0.7-0.3-1.3-0.3c-0.5,0-0.8,0.1-1.2,0.1v4.2h0.7
				v-1.8h0.5c0.5,0,0.8,0.2,0.9,0.7c0.1,0.6,0.2,0.9,0.3,1.1h0.7c-0.1-0.1-0.2-0.4-0.3-1C68.2,61.5,68,61.2,67.6,61.1 M66.7,60.8h-0.5
				v-1.4l0.5,0c0.8,0,1,0.4,1,0.7C67.7,60.6,67.3,60.8,66.7,60.8 M34.4,0C15.4,0,0,15.4,0,34.3c0,18.9,15.4,34.3,34.4,34.3
				c18.9,0,34.4-15.4,34.4-34.3C68.7,15.4,53.3,0,34.4,0 M37.7,18.9c-13.3,1.4-18.7,16.5-17.2,21c0,0,2-6.1,7.7-6c0,0,6.5,0,6.9,6.8
				c0,0,2.3,12.1-13.1,12.7c-4.8,0.2-16.1-3.2-17.5-15.7l0,0.3c-0.1-1.2-0.2-2.4-0.2-3.6c0-16.6,13.5-30.1,30.1-30.1
				c15.7,0,28.5,12,30,27.3C62.8,29.4,53.4,17.3,37.7,18.9"
            >
            </path>
        </symbol>
        <symbol id="mark" viewBox="0 0 19 21">
            <path d="M16.5,10.5v2a8,8,0,0,1-8,8h0a8,8,0,0,1-8-8v-9" />
            <path d="M18.5,20.5c-2,0-2-4-2-4V4.5" />
            <line x1="4.5" y1="11.5" x2="4.5" y2="1.5" />
            <line x1="8.5" y1="11.5" x2="8.5" y2="0.5" />
            <line x1="12.5" y1="11.5" x2="12.5" y2="1.5" />
        </symbol>
        <symbol id="club" viewBox="0 0 17 17">
            <line x1="5.53" y1="16.5" x2="11.53" y2="16.5" />
            <path d="M8.53,11.5V15A1.5,1.5,0,0,1,7,16.5H7" />
            <path d="M8.53,11.5V15A1.5,1.5,0,0,0,10,16.5h0" />
            <path d="M8.5,9.5a4,4,0,1,0,4-4h-.15a3.74,3.74,0,0,0,.15-1,4,4,0,0,0-8,0,3.74,3.74,0,0,0,.15,1H4.5a4,4,0,1,0,4,4" />
        </symbol>
        <symbol id="diamond" viewBox="0 0 17 17">
            <rect x="2.84" y="2.84" width="11.31" height="11.31" transform="translate(-3.52 8.5) rotate(-45)" />
        </symbol>
        <symbol id="heart" viewBox="0 0 19.06 17">
            <path d="M17.13,1.94a4.94,4.94,0,0,0-7,0l-.63.62-.62-.62a4.93,4.93,0,0,0-7,7l.62.62,7,7,7-7,.63-.62A5,5,0,0,0,17.13,1.94Z" />
        </symbol>
        <symbol id="spade" viewBox="0 0 14.55 17">
            <path d="M1.58,11.42a3.69,3.69,0,0,0,5.22,0L7.27,11l.47.47A3.69,3.69,0,1,0,13,6.2l-.47-.47L7.27.5,2.05,5.73l-.47.47A3.69,3.69,0,0,0,1.58,11.42Z" />
            <line x1="4.31" y1="16.5" x2="10.31" y2="16.5" />
            <path d="M7.31,11.5V15a1.5,1.5,0,0,1-1.5,1.5h0" />
            <path d="M7.31,11.5V15a1.5,1.5,0,0,0,1.5,1.5h0" />
        </symbol>
    </svg>
</div>
